Job Email sender/Email Save to Draft for jobs.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are tasked with creating a professional job application email body only based on the following information.\n\nJob Posting:\n{{ $json.job_description }}\n\nApplicant Resume:\n{{ $json.my_resume_content }}\n\nRequirements:\n\nWrite only the main content of the email — do not include the salutation (e.g., \"Hi Faiqa Rashid\") or the signature (name, email, phone, closing line). These will be added separately.\n\nInclude a short “tldr” intro summarizing the applicant’s focus/passion.\n\nExpress clear interest in the position and company.\n\nSummarize relevant skills, experience, and projects from the resume that make the applicant a strong fit.\n\nInclude a polite call-to-action paragraph without a signature.\n\nMaintain a professional, concise, and human tone.\n\nOnly use information provided in the input (resume and job post); do not hallucinate missing details.\n\nOutput Requirements:\n\nBreak the email body into logical chunks: tldr, para1, para2, para3, closing to preserve formatting.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional job application assistant.\n\nTask:\nCreate a full, personalized job application email body only. Mimic the tone, structure, and level of detail of the example email below. Include:\n\nA short “tldr” intro summarizing the applicant’s focus/passion.\n\nParagraphs highlighting hands-on experience, skills, and technical expertise.\n\nSpecific examples of how the applicant can contribute to the company and role.\n\nDo NOT include:\n\nGreeting/salutation (e.g., \"Hi Faiqa Rashid\")\n\nSignature (name, email, phone, closing line)\n\nPortfolio, GitHub, LinkedIn links\n\nRules:\n\nIntroduction: express interest in the role and company.\n\nSkills & Experience: summarize relevant skills, experience, and projects.\n\nClosing paragraph: polite call-to-action without a signature.\n\nUse only the information provided in the input (resume and job post).\n\nMaintain a professional, concise, and human tone.\n\nBreak the email body into logical chunks: tldr, para1, para2, para3, closing to avoid broken formatting.\n\nExtract and return the following fields in JSON:\n\ntitle (string or null): Job title from the posting.\n\ncompany (string or null): Company name.\n\nrecruiter_name (string or null): Name of the recruiter/contact.\n\nrecruiter_email (string or null): Email of the recruiter/contact.\n\nlocation (string or null): Job location.\n\nwork_type (string or null): Onsite, Remote, or Hybrid.\n\nexperience (string or null): Required experience.\n\nskills (array of strings or null): Relevant skills.\n\ntimings (string or null): Work timings.\n\nemail_subject (string): Must always be present.\n\nemail_body_chunks (object, required) containing:\n\ntldr (string): 1–2 sentence summary of applicant’s focus/passion.\n\npara1 (string): Introduction paragraph expressing interest in the role and company.\n\npara2 (string): Summary of key skills, experience, and projects, showing how the applicant is a good fit.\n\npara3 (string): Optional additional contributions or context about impact at the company.\n\nclosing (string): Polite call-to-action paragraph only (no signature).\n\nExample Email to Mimic:\n---\nRE: Engineering at ExampleCompany >\nJohn Doe <johndoe@gmail.com>\nMon, May 5, 9:46 PM✩\nto me\ntldr;\nI love everything about what ExampleCompany is doing. I don't have many hobbies outside coding. I am not athletic, bad at singing, don't drink, can't dance. Building is the only thing I am good at. At this point, I want to be a part of taking something from 0 -> 1 or 1 -> 100. I just want to be heads down chasing that goal\nHi,\nReally loved what you were building at ExampleCompany and wanted to reach out to see if there were any openings for Engineers in the early team. I have 5 years of relevant experience building full-stack applications primarily data-driven at previous companies where I helped scale internal micro-services to thousands of workflows and users.\nBeing a part of super lean teams, one of my strongest suites has been ability to work across the stack from building scalable, robust backend systems to high throughput data ingestion pipelines to production grade frontend components. As a part, I have built several end-to-end systems that involve several layers at the intersection of UI, Backend, and infrastructure from building complex workflows, dashboards, and internal tools to architecting entire platforms.\nI would love to be a part of the early team at ExampleCompany and define its work and culture. Looking forward to hearing from you soon!\nBest, John Doe\n---\n\nNotes:\n\nMaintain spacing and paragraph separation exactly as shown.\n\nReturn null for any missing information instead of guessing.\n\nDo not generate any links or signature details — these will be added separately.\n\nFocus on skills, experience, and fit with the company and role."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "f953633d-a7fd-4dbe-9638-27eb49198479",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        192
      ],
      "id": "b1a04d82-a682-40da-84c0-1d4a951b6355",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2bSh0WtweSQ57sqe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1-3eBHKB3V6NRg1TYKbpHElIUc2ABM_cgIoXL2XHz49w/edit?usp=sharing"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "id": "e2d2cd82-c841-4e3b-ad66-692574461a35",
      "name": "Get Resume Data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4WCO0YDvzWrMnbl4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  \"my_resume_content\": $input.first().json.content,\n  \"job_description\": $('Generate Email Draft').first().json.body.jobDescription,\n  \"portfolio_url\": \"https://ahmadmamoon.netlify.app\",\n  \"linkedin_url\": \"https://www.linkedin.com/in/muhammad-ahmad077\",\n  \"github\": \"https://github.com/Ahmad-code077\"\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "21296700-8d1f-478d-a132-bceb152b73d3",
      "name": "Merge the data in the content"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": [\"string\",\"null\"],\n      \"description\": \"Job title extracted from the job posting (e.g., 'Full Stack Developer'). Null if not mentioned.\"\n    },\n    \"company\": {\n      \"type\": [\"string\",\"null\"],\n      \"description\": \"Company name from the job post. Null if not mentioned.\"\n    },\n    \"recruiter_name\": {\n      \"type\": [\"string\",\"null\"],\n      \"description\": \"Name of the recruiter or contact person. Null if not mentioned.\"\n    },\n    \"recruiter_email\": {\n      \"type\": [\"string\",\"null\"],\n      \"description\": \"Email of the recruiter/contact. Null if not mentioned.\"\n    },\n    \"location\": {\n      \"type\": [\"string\",\"null\"],\n      \"description\": \"Job location (city, area, or remote). Null if not mentioned.\"\n    },\n    \"work_type\": {\n      \"type\": [\"string\",\"null\"],\n      \"description\": \"Work type: 'Onsite', 'Remote', or 'Hybrid'. Null if not mentioned.\"\n    },\n    \"experience\": {\n      \"type\": [\"string\",\"null\"],\n      \"description\": \"Required experience (e.g., '2+ years'). Null if not mentioned.\"\n    },\n    \"skills\": {\n      \"type\": [\"array\",\"null\"],\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Array of skills required for the job (e.g., ['JavaScript', 'ReactJS']). Null if not mentioned.\"\n    },\n    \"timings\": {\n      \"type\": [\"string\",\"null\"],\n      \"description\": \"Work timings if specified (e.g., '11AM - 8PM'). Null if not mentioned.\"\n    },\n    \"email_subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email. Must always be present.\"\n    },\n    \"email_body_chunks\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"tldr\": { \"type\": \"string\", \"description\": \"Short summary of applicant focus/passion.\" },\n        \"para1\": { \"type\": \"string\", \"description\": \"Introduction paragraph expressing interest in the role.\" },\n        \"para2\": { \"type\": \"string\", \"description\": \"Skills, experience, and project highlights.\" },\n        \"para3\": { \"type\": \"string\", \"description\": \"References to portfolio, GitHub, LinkedIn.\" },\n        \"closing\": { \"type\": \"string\", \"description\": \"Polite call-to-action and signature.\" }\n      },\n      \"required\": [\"tldr\",\"para1\",\"para2\",\"para3\",\"closing\"],\n      \"description\": \"Email body broken into logical chunks for easier formatting and integration.\"\n    }\n  },\n  \"required\": [\"email_subject\", \"email_body_chunks\"],\n  \"description\": \"JSON schema representing the extracted job details and the generated application email. Job info fields can be null if missing, but email_subject and email_body_chunks must always be returned.\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        208
      ],
      "id": "a07a9e6b-6455-4d53-baad-2a793f8f63ef",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.email_subject }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #111;\">\n    \n    <p><strong>tldr</strong><br>\n    {{ $json.output.email_body_chunks.tldr }}</p>\n    \n    <p>Dear {{ $json.output.recruiter_name || 'Hiring Manager' }},</p>\n    \n    <p>{{ $json.output.email_body_chunks.para1 }}</p>\n    \n    <p>{{ $json.output.email_body_chunks.para2 }}</p>\n    \n    <p>Please find my portfolio and GitHub for reference:</p>\n    <ul>\n      <li>GitHub: <a href=\"https://github.com/Ahmad-code077\" target=\"_blank\">https://github.com/Ahmad-code077</a></li>\n      <li>Portfolio: <a href=\"https://ahmadmamoon.netlify.app\" target=\"_blank\">https://ahmadmamoon.netlify.app</a></li>\n      <li>LinkedIn: <a href=\"https://www.linkedin.com/in/muhammad-ahmad077/\" target=\"_blank\">https://www.linkedin.com/in/muhammad-ahmad077/</a></li>\n    </ul>\n    \n    <p>{{ $json.output.email_body_chunks.para3 }}</p>\n    \n    <p>Best regards,<br>\n    Muhammad Ahmad<br>\n    +92-321-0711148<br>\n    <a href=\"mailto:ahmadeveloper077@gmail.com\">ahmadeveloper077@gmail.com</a></p>\n    \n  </body>\n</html>\n",
        "options": {
          "sendTo": "=mahmadeveloper077@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1408,
        0
      ],
      "id": "ab0d3dda-7b60-435f-8b2d-fe172e9f8563",
      "name": "Create a draft email for approval system",
      "webhookId": "c7a19019-b3ad-4493-9602-87104d8f8e98",
      "credentials": {
        "gmailOAuth2": {
          "id": "PcRg9Lnul0aFK4q5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "raw_post",
              "fieldValue": "={{ $('Generate Email Draft').first().json.body.jobDescription }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('AI Agent').first().json.output.title }}"
            },
            {
              "fieldId": "company",
              "fieldValue": "={{ $('AI Agent').first().json.output.company }}"
            },
            {
              "fieldId": "recruiter_name",
              "fieldValue": "={{ $('AI Agent').first().json.output.recruiter_name }}"
            },
            {
              "fieldId": "recruiter_email",
              "fieldValue": "={{ $('AI Agent').first().json.output.recruiter_email }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $('AI Agent').first().json.output.location }}"
            },
            {
              "fieldId": "work_type",
              "fieldValue": "={{ $('AI Agent').first().json.output.work_type }}"
            },
            {
              "fieldId": "experience",
              "fieldValue": "={{ $('AI Agent').first().json.output.experience }}"
            },
            {
              "fieldId": "skills",
              "fieldValue": "={{ $('AI Agent').first().json.output.skills }}"
            },
            {
              "fieldId": "timings",
              "fieldValue": "={{ $('AI Agent').first().json.output.timings }}"
            },
            {
              "fieldId": "gmail_draft_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "cfdb1e8a-421b-4d50-a0c0-285beb2dc2c3"
            },
            {
              "fieldId": "gmail_message_id",
              "fieldValue": "={{ $json.message.id }}"
            },
            {
              "fieldId": "thread_id",
              "fieldValue": "={{ $json.message.threadId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1616,
        0
      ],
      "id": "0a745851-3d64-4884-b1d8-f0d1a5ca65e3",
      "name": "Create row for dasbhoard approval"
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "get",
        "messageId": "={{ $json.gmail_draft_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1712,
        544
      ],
      "id": "e73f786e-3f9c-4daa-8b5d-4c9f7112ad6b",
      "name": "Get a draft",
      "webhookId": "1347520c-0150-4d85-b125-d7b0f5ee7220",
      "credentials": {
        "gmailOAuth2": {
          "id": "PcRg9Lnul0aFK4q5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to.value[0].address }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2064,
        544
      ],
      "id": "ea50ef8c-b511-4fac-b25e-f28f9ff0749f",
      "name": "Send a message",
      "webhookId": "b628cb40-844f-4ffc-92e5-70290288ad0b"
    },
    {
      "parameters": {
        "url": "https://res.cloudinary.com/dilpjrnnr/image/upload/v1768258289/Ahmad_Resume_svf6yx.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        544
      ],
      "id": "53728ff9-bb12-43a2-992d-fcc1dda39ffe",
      "name": "Download Resume1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get the job post detail').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "sent"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{$now}}  "
            },
            {
              "fieldId": "thread_id",
              "fieldValue": "={{ $json.threadId }}"
            },
            {
              "fieldId": "gmail_message_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2272,
        544
      ],
      "id": "226d418d-eee6-4d77-84d9-ae12e5b46300",
      "name": "Update the row"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1376,
        912
      ],
      "id": "a0475a18-7a9e-4742-80e1-69f911fcf6e1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "jobs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "draft_created"
            },
            {
              "keyName": "follow_up_count",
              "condition": "eq",
              "keyValue": "0"
            },
            {
              "keyName": "sent_at",
              "condition": "lte",
              "keyValue": "={{ $now.minus(3,'days') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1584,
        912
      ],
      "id": "48aead96-faac-4bac-9114-ad1c71c6d48e",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "gv8YamWZYuBsLGe0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## overview\n\n## Check the store id to open the exact draft email to check and hit send for it \n\n## then delete email form the draft also after sending \n \n## the follow up tracks check if reply came back if not then send follow up increase the count and things \n\n",
        "height": 400,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        480
      ],
      "id": "2ab1d5f7-d80a-43dc-ae68-7247736c75bb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email-to-n8n",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ad3fde34-f6c7-48bf-9178-d492ff7ac9c6",
      "name": "Generate Email Draft",
      "webhookId": "f79e86b6-2449-48c8-b477-19fe1ac04ba3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-job-post-email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1296,
        544
      ],
      "id": "c03dad4b-df60-41d5-8dc4-6ecb03b111c2",
      "name": "Send Draft messages",
      "webhookId": "0302a1e5-4783-4198-87b7-6593828f26fc"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.jobId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1504,
        544
      ],
      "id": "1e6a022e-582b-4e1c-ac97-9c92df345a92",
      "name": "Get the job post detail",
      "credentials": {
        "supabaseApi": {
          "id": "gv8YamWZYuBsLGe0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "delete",
        "messageId": "={{ $json.gmail_draft_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2480,
        544
      ],
      "id": "c4f5e589-bc71-4b7c-a194-e29cdbee24e8",
      "name": "Delete a draft",
      "webhookId": "c8e163e1-93dc-4280-87db-c0e9a277cfb0"
    },
    {
      "parameters": {
        "content": "## Sample to try \n\nZainab SulemanZainab Suleman\n   • 2ndVerified • 2nd\nHR intern @techparser | Recruitment & People Operations | Interested in Organizational DevelopmentHR intern @techparser | Recruitment & People Operations | Interested in Organizational Development\n13h •  13 hours ago • Visible to anyone on or off LinkedIn\n\nFollow\nHey, We're Hiring at Techparser\n-Flutter Internship \n-Flutter Developers \n-Web Developers \n\nTurn your unfortunatelys into \"Unfortunately I cannot hangout this Wednesday, i got work\"\n\nSend resumes at hr@techparser.io\n\nLocation: Location: 3 No Building, 2nd Floor, Sunflower Housing Society, Block J1, Phase 2, Johar Town, Lahore\nGoogle Maps: https://lnkd.in/d9PDr2zw\n\nType: Full-time \nTimings: 12 PM- 9PM",
        "height": 640,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        960
      ],
      "id": "ba2648cb-bf79-484d-93b7-c16593fe6c53",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.thread_id }}",
        "simple": false,
        "options": {
          "returnOnlyMessages": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        912
      ],
      "id": "5ddcdd29-22a3-4871-af3c-2aca007770f2",
      "name": "Get a thread",
      "webhookId": "694b8b71-ed31-4dfb-9020-644b3d0678b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "PcRg9Lnul0aFK4q5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const targetEmail = \"ahmadeveloper077@gmail.com\";\n\n// Simple email extraction\nfunction getEmail(from) {\n  if (!from) return \"\";\n  const match = from.match(/<([^>]+)>/);\n  return match ? match[1] : from;\n}\n\n// Extract clean name\nfunction getName(from) {\n  if (!from) return \"\";\n  const match = from.match(/^([^<]+)</);\n  return match ? match[1].trim() : from;\n}\n\n// Extract message text\nfunction getMessageText(item) {\n  try {\n    if (item.json.payload && item.json.payload.parts) {\n      // Try plain text\n      const plainPart = item.json.payload.parts.find(p => \n        p.mimeType === \"text/plain\" && p.body && p.body.data\n      );\n      if (plainPart) {\n        return atob(plainPart.body.data.replace(/-/g, '+').replace(/_/g, '/'));\n      }\n      \n      // Try HTML\n      const htmlPart = item.json.payload.parts.find(p => \n        p.mimeType === \"text/html\" && p.body && p.body.data\n      );\n      if (htmlPart) {\n        const html = atob(htmlPart.body.data.replace(/-/g, '+').replace(/_/g, '/'));\n        return html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n      }\n    }\n    return item.json.snippet || \"\";\n  } catch (e) {\n    return item.json.snippet || \"\";\n  }\n}\n\n// Process all messages\nlet hasReplyFromOther = false;\nlet otherPerson = null;\nconst allMessages = [];\n\n// Sort by date (oldest first)\nconst sortedMessages = $input.all().sort((a, b) => \n  parseInt(a.json.internalDate) - parseInt(b.json.internalDate)\n);\n\nfor (const item of sortedMessages) {\n  const from = item.json.From;\n  const email = getEmail(from);\n  const name = getName(from);\n  const isMe = email.toLowerCase() === targetEmail.toLowerCase();\n  const text = getMessageText(item);\n  const date = new Date(parseInt(item.json.internalDate));\n  \n  if (!isMe) {\n    hasReplyFromOther = true;\n    if (!otherPerson) {\n      otherPerson = { name: name || email, email: email };\n    }\n  }\n  \n  allMessages.push({\n    sender: isMe ? \"me\" : \"them\",\n    name: name || email,\n    email: email,\n    date: date.toLocaleDateString(),\n    time: date.toLocaleTimeString(),\n    text: text\n  });\n}\n\n// Simple output structure\nreturn [{\n  // Basic info\n  subject: sortedMessages[0]?.json.Subject || \"No Subject\",\n  hasReply: hasReplyFromOther,\n  totalMessages: allMessages.length,\n  \n  // Other person info (if any reply)\n  otherPerson: otherPerson,\n  \n  // All messages in simple format\n  messages: allMessages,\n  \n  // Simple summary\n  lastMessageFrom: allMessages.length > 0 ? allMessages[allMessages.length - 1].sender : \"none\",\n  daysSinceLastMessage: allMessages.length > 0 ? \n    Math.floor((new Date() - new Date(parseInt(sortedMessages[sortedMessages.length - 1].json.internalDate))) / (1000 * 60 * 60 * 24)) : null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        912
      ],
      "id": "a03a5d3a-e73a-4efa-848d-554eed9fe769",
      "name": "Check has reply form other person or not"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef452747-02f6-44dc-9651-160a576a0aea",
              "leftValue": "={{ $json.hasReply }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2208,
        912
      ],
      "id": "e0107c34-8d28-4b79-aac8-08856517ca9d",
      "name": "if bool is true then mark as replied else send followup one"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "replied"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2432,
        768
      ],
      "id": "66abcb3e-0496-46df-9643-7950c6755367",
      "name": "Update the status to replied",
      "credentials": {
        "supabaseApi": {
          "id": "gv8YamWZYuBsLGe0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "Check thread → hasReply?\n    ├─ Yes → Update DB: status = 'replied'\n    └─ No → follow_up_count = 0? → Send Follow-up 1, update DB: status = 'follow_up_1'\n           follow_up_count = 1? → Send Follow-up 2, update DB: status = 'follow_up_2'\n",
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3408,
        704
      ],
      "id": "48680fb0-60ae-49a5-80e5-8e8b2db1b6d5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is an email conversation:\n\nCONVERSATION:\n{{ JSON.stringify($json.messages) }}\n\nBASIC INFO:\n- Email Subject: {{ $json.subject }}\n- Has Reply From Other Person: {{$json.hasReply}}\n- Total Messages: {{ $json.totalMessages }}\n- Days Since Last Message: {{ $json.daysSinceLastMessage }}\n\nINSTRUCTIONS:\nWrite a professional follow-up email for this job application.\n\nIMPORTANT: \n- This is a polite check-in on the application status\n- Briefly reiterate your interest\n- Keep it very concise\n- Do NOT include personal contact info, links, or signatures\n\nReturn ONLY the JSON object with the 6 required fields.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI assistant that helps job applicants write polite, professional follow-up emails. Your task is to analyze email conversations and generate appropriate follow-up content.\n\nCRITICAL RULES:\n1. ALWAYS be polite and professional - never desperate or pushy\n2. Reference the conversation naturally\n3. Keep follow-ups brief (3-4 paragraphs maximum)\n4. Match the original professional tone\n5. Never apologize for following up - frame it as being proactive\n6. Do NOT include greetings/salutations (like \"Dear...\") - these will be added separately\n7. Return ONLY JSON - no explanations or additional text\n\nOUTPUT FORMAT:\nReturn ONLY this JSON structure:\n{\n  \"subject\": \"Email subject line\",\n  \"tldr\": \"1-2 sentence summary\",\n  \"para1\": \"First paragraph\",\n  \"para2\": \"Second paragraph\", \n  \"para3\": \"Third paragraph\",\n}\n\nIMPORTANT: \n- para1, para2, para3 contain ONLY email body text\n- No \"Dear...\", \"Hello...\", \"Hi...\" in any paragraph\n- \"closing\" contains ONLY the closing phrase"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2496,
        976
      ],
      "id": "81e73276-718f-4936-962e-f24df37cf2da",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2480,
        1168
      ],
      "id": "b86f9f7b-833e-4b45-aa91-6751e3a57669",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "2bSh0WtweSQ57sqe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"email_subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the follow-up email.\"\n    },\n    \"email_body_chunks\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"tldr\": {\n          \"type\": \"string\",\n          \"description\": \"Short summary of the follow-up.\"\n        },\n        \"para1\": {\n          \"type\": \"string\",\n          \"description\": \"First paragraph of the follow-up email.\"\n        },\n        \"para2\": {\n          \"type\": \"string\",\n          \"description\": \"Second paragraph of the follow-up email.\"\n        },\n        \"para3\": {\n          \"type\": \"string\",\n          \"description\": \"Third paragraph of the follow-up email.\"\n        },\n        \"closing\": {\n          \"type\": \"string\",\n          \"description\": \"Closing line of the email.\"\n        }\n      },\n      \"required\": [\"tldr\", \"para1\", \"para2\", \"para3\", \"closing\"],\n      \"description\": \"Email body broken into logical chunks for formatting.\"\n    }\n  },\n  \"required\": [\"email_subject\", \"email_body_chunks\"],\n  \"description\": \"JSON schema for follow-up email generation. Contains subject and body chunks.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2672,
        1184
      ],
      "id": "3f6a4769-9b03-4c8c-b20c-f24315690350",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "sendTo": "={{ 'mahmadeveloper077@gmail.com'}}",
        "subject": "={{ $('AI Agent1').item.json.output.email_subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3104,
        976
      ],
      "id": "09c108f5-22e8-4fa3-a0b9-0aeb3788d4af",
      "name": "Send a message1",
      "webhookId": "b628cb40-844f-4ffc-92e5-70290288ad0b",
      "credentials": {
        "gmailOAuth2": {
          "id": "PcRg9Lnul0aFK4q5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up_1_html",
              "fieldValue": "={{ $('Code in JavaScript').item.json.html }}"
            },
            {
              "fieldId": "follow_up_count",
              "fieldValue": "1"
            },
            {
              "fieldId": "follow_up_date",
              "fieldValue": "={{$now}}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{$now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4176,
        864
      ],
      "id": "9d9a141c-524c-4608-a9fd-5c48cb596344",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "gv8YamWZYuBsLGe0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.nextAction }}",
                    "rightValue": "follow_up_1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b7345e3f-b3b5-4094-ac93-5d78b390476f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Follow Up 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81ab8d92-d11b-49a6-8280-f2aad01fb193",
                    "leftValue": "={{ $json.nextAction }}",
                    "rightValue": "follow_up_2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Follow Up 2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3808,
        976
      ],
      "id": "2fc2b06b-3f67-493b-b7a4-5f77b97494fc",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Get the data from input\nconst inputData = $input.all();\nconst firstItem = inputData[0] || {};\n\n// Check if we have AI output\nconst aiOutput = firstItem.json?.output;\nconst emailBodyChunks = aiOutput?.email_body_chunks || {};\n\n// Get recruiter name from previous node if available\n// Assuming the data comes from the previous node\nconst recruiterData = inputData[0]?.json || {};\nconst recruiterName = recruiterData.recruiter_name || 'Hiring Manager';\n\nreturn [\n  {\n    html: `<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #111;\">\n    \n    ${emailBodyChunks.tldr ? `<p><strong>tldr</strong><br>${emailBodyChunks.tldr}</p>` : ''}\n    \n    <p>Dear ${recruiterName},</p>\n    \n    ${emailBodyChunks.para1 ? `<p>${emailBodyChunks.para1}</p>` : ''}\n    \n    ${emailBodyChunks.para2 ? `<p>${emailBodyChunks.para2}</p>` : ''}\n    \n    <p>Please find my portfolio and GitHub for reference:</p>\n    <ul>\n      <li>GitHub: <a href=\"https://github.com/Ahmad-code077\" target=\"_blank\">https://github.com/Ahmad-code077</a></li>\n      <li>Portfolio: <a href=\"https://ahmadmamoon.netlify.app\" target=\"_blank\">https://ahmadmamoon.netlify.app</a></li>\n      <li>LinkedIn: <a href=\"https://www.linkedin.com/in/muhammad-ahmad077/\" target=\"_blank\">https://www.linkedin.com/in/muhammad-ahmad077/</a></li>\n    </ul>\n    \n    ${emailBodyChunks.para3 ? `<p>${emailBodyChunks.para3}</p>` : ''}\n    \n    <p>${emailBodyChunks.closing || 'Best regards,'}<br>\n    Muhammad Ahmad<br>\n    +92-321-0711148<br>\n    <a href=\"mailto:ahmadeveloper077@gmail.com\">ahmadeveloper077@gmail.com</a></p>\n    \n  </body>\n</html>`\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        976
      ],
      "id": "75a41b3d-ef5a-4a8b-8007-cde0f3d754f9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const jobs = $('Get many rows').all(); // get all jobs\n\nreturn jobs.map(job => {\n    let nextAction = '';\n\n    if (job.json.status === 'sent') {\n        nextAction = 'follow_up_1';\n    } else if (job.json.status === 'follow_up_1') {\n        nextAction = 'follow_up_2';\n    } else if (job.json.status === 'replied') {\n        nextAction = 'stop';\n    }\n\n    return {\n        json: {\n            id: job.json.id,\n            status: job.json.status,\n            nextAction: nextAction,\n            follow_up_count: job.json.follow_up_count\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        976
      ],
      "id": "82493fc8-e8e9-4219-89d2-f943ab569715",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up_2_html",
              "fieldValue": "={{ $('Code in JavaScript').item.json.html }}"
            },
            {
              "fieldId": "follow_up_count",
              "fieldValue": "={{ $json.follow_up_count + 1 }}"
            },
            {
              "fieldId": "follow_up_date",
              "fieldValue": "={{$now}}"
            },
            {
              "fieldId": "sent_at",
              "fieldValue": "={{$now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4192,
        1040
      ],
      "id": "d716fce9-97ca-4d6f-9834-b53d4633fbb7",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "gv8YamWZYuBsLGe0",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft email for approval system",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Resume Data": {
      "main": [
        [
          {
            "node": "Merge the data in the content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge the data in the content": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft email for approval system": {
      "main": [
        [
          {
            "node": "Create row for dasbhoard approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a draft": {
      "main": [
        [
          {
            "node": "Download Resume1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update the row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the row": {
      "main": [
        [
          {
            "node": "Delete a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Draft": {
      "main": [
        [
          {
            "node": "Get Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft messages": {
      "main": [
        [
          {
            "node": "Get the job post detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the job post detail": {
      "main": [
        [
          {
            "node": "Get a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "Check has reply form other person or not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check has reply form other person or not": {
      "main": [
        [
          {
            "node": "if bool is true then mark as replied else send followup one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if bool is true then mark as replied else send followup one": {
      "main": [
        [
          {
            "node": "Update the status to replied",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "AI Agent": [
      {
        "output": {
          "title": "Mid level - Full Stack Developer",
          "company": "Verdant Soft",
          "recruiter_name": "Faiqa Rashid",
          "recruiter_email": "faiqa.rashid@verdant-soft.com",
          "location": "Johar Town Lahore",
          "work_type": "Onsite",
          "experience": "2+ years",
          "skills": [
            "React.js",
            "Next.js",
            "Node.js",
            "MySQL",
            "MongoDB",
            "JavaScript",
            "TypeScript",
            "Tailwind CSS",
            "Redux Toolkit",
            "RTK Query",
            "Axios",
            "Zod",
            "Shadcn",
            "React-hook-form",
            "Express.js",
            "PostgreSQL",
            "Prisma",
            "REST APIs",
            "NextAuth.js",
            "Pusher",
            "WebSocket",
            "Socket.io",
            "Stripe",
            "Role-Based Access Control"
          ],
          "timings": "11:00 AM - 8:00 PM",
          "email_subject": "Application for Mid Level Full Stack Developer Position at Verdant Soft",
          "email_body_chunks": {
            "tldr": "I am a passionate Full Stack Developer focused on building scalable, responsive web applications using modern JavaScript frameworks and databases, eager to contribute to robust solutions.",
            "para1": "I am excited to apply for the Mid Level Full Stack Developer position at Verdant Soft. The opportunity to work onsite in Johar Town Lahore with a team dedicated to developing impactful web applications aligns perfectly with my career goals and expertise.",
            "para2": "With over two years of experience, I have developed and maintained comprehensive web applications using React.js, Next.js, Node.js, and both SQL and NoSQL databases like PostgreSQL and MongoDB. Notably, I built a social app featuring real-time chat, notifications, and role-based authentication using NextAuth.js, along with subscription services integrated via Stripe. My experience with WebSocket/Pusher for live updates and Prisma for efficient database management equips me well to deliver scalable solutions, matching Verdant Soft's requirements.",
            "para3": "I am confident that my hands-on experience with front-end UI components using Tailwind CSS and Shadcn, combined with backend API design and real-time features, will allow me to contribute effectively to your development team. I am eager to bring my skills in building responsive, feature-rich applications to support your projects and growth plans.",
            "closing": "Thank you for considering my application. I look forward to the possibility of discussing how my background and skills can contribute to Verdant Soft's success. Please feel free to reach out to me for any further information or to schedule an interview."
          }
        }
      }
    ],
    "Create a draft email for approval system": [
      {
        "id": "r5934617835299668019",
        "message": {
          "id": "19bbe575e87af375",
          "threadId": "19bbe575e87af375",
          "labelIds": [
            "DRAFT"
          ]
        }
      }
    ],
    "Create row for dasbhoard approval": [
      {
        "id": "b3a9cbc0-d6c4-455f-a772-59d6db41b138",
        "raw_post": "📢 hashtag#HiringAlert\n\n𝐏𝐨𝐬𝐢𝐭𝐢𝐨𝐧: 𝐌𝐢𝐝 𝐥𝐞𝐯𝐞𝐥 - Full Stack Developer\n𝐄𝐱𝐩𝐞𝐫𝐢𝐞𝐧𝐜𝐞: 2+ 𝐲𝐞𝐚𝐫𝐬\nWe are looking for a skilled Full Stack Developer with experience in front end technologies and back-end development to join our development team. \n\nThe candidate will be responsible for developing and maintaining web applications, collaborating with cross-functional teams, and building robust solutions. This role requires proficiency in both front-end and back-end development, along with expertise in MySQL and MongoDB databases.\n\n𝐍𝐨𝐭𝐞: 𝐓𝐡𝐢𝐬 𝐢𝐬 𝐚𝐧 𝐎𝐧𝐬𝐢𝐭𝐞 𝐫𝐨𝐥𝐞, 𝐈𝐧 𝐉𝐨𝐡𝐚𝐫 𝐓𝐨𝐰𝐧 𝐋𝐚𝐡𝐨𝐫𝐞. \n𝐓𝐢𝐦𝐢𝐧𝐠𝐬: 11:00 𝐀𝐌 - 8:00 𝐏𝐌\n\n𝐖𝐡𝐚𝐭 𝐖𝐞 𝐎𝐟𝐟𝐞𝐫:\n☑️Biannual Increments\n☑️Eid Bonuses/Gifts\n☑️Leave Encashment\n☑️Interest Free Loans\n☑️Performance based incentives\n☑️Maternity & Paternity Leaves\n☑️Career & growth plans\n☑️Monthly Dinner/Lunch\n☑️Company Sponsored Trips\n\n📧𝐇𝐨𝐰 𝐭𝐨 𝐀𝐩𝐩𝐥𝐲: Please share your resume here, faiqa.rashid@verdant-soft.com \n\nhashtag#FullStackDeveloper hashtag#FullStackDevelopment hashtag#SoftwareDeveloper hashtag#WebDeveloper hashtag#SoftwareEngineering hashtag#JavaScript hashtag#ReactJS hashtag#NodeJS hashtag#MERNStack hashtag#TechCareers hashtag#DeveloperCommunity hashtag#StartupLife hashtag#LinkedInTech hashtag#VerdantSoft\n\napply here ",
        "title": "Mid level - Full Stack Developer",
        "company": "Verdant Soft",
        "recruiter_name": "Faiqa Rashid",
        "recruiter_email": "faiqa.rashid@verdant-soft.com",
        "location": "Johar Town Lahore",
        "work_type": "Onsite",
        "experience": "2+ years",
        "skills": [
          "React.js",
          "Next.js",
          "Node.js",
          "MySQL",
          "MongoDB",
          "JavaScript",
          "TypeScript",
          "Tailwind CSS",
          "Redux Toolkit",
          "RTK Query",
          "Axios",
          "Zod",
          "Shadcn",
          "React-hook-form",
          "Express.js",
          "PostgreSQL",
          "Prisma",
          "REST APIs",
          "NextAuth.js",
          "Pusher",
          "WebSocket",
          "Socket.io",
          "Stripe",
          "Role-Based Access Control"
        ],
        "timings": "11:00 AM - 8:00 PM",
        "gmail_draft_id": "r6438763173322751803",
        "status": "draft_created",
        "sent_at": null,
        "follow_up_date": null,
        "follow_up_count": 0,
        "created_at": "2026-01-14T21:05:02.127854",
        "user_id": "cfdb1e8a-421b-4d50-a0c0-285beb2dc2c3",
        "thread_id": "19bbe529e1e32fc7",
        "gmail_message_id": "19bbe529e1e32fc7"
      }
    ],
    "Send a message": [
      {
        "id": "19bbe7de9c745466",
        "threadId": "19bbe7de9c745466",
        "labelIds": [
          "SENT"
        ]
      }
    ],
    "Download Resume1": [
      {
        "id": "r420793769916972660",
        "threadId": "19bb969a7c37104d",
        "labelIds": [
          "DRAFT"
        ],
        "sizeEstimate": 156796,
        "headers": {
          "received": "Received: from 946077616320\r\n\tnamed unknown\r\n\tby gmailapi.google.com\r\n\twith HTTPREST;\r\n\tTue, 13 Jan 2026 22:11:07 +0000",
          "content-type": "Content-Type: multipart/mixed; boundary=\"--_NmP-3aa75cb011686c07-Part_1\"",
          "to": "To: mahmadeveloper077@gmail.com",
          "subject": "Subject: Application for Mid Level Full Stack Developer Position at Verdant\r\n Soft",
          "message-id": "Message-Id: <CAEYHPR7xdi=aNBXYzY2VETJrtxmWO3zxxbtVugsd_meH6pMppA@mail.gmail.com>",
          "date": "Date: Tue, 13 Jan 2026 22:11:07 +0000",
          "mime-version": "MIME-Version: 1.0",
          "from": "From: ahmadeveloper077@gmail.com"
        },
        "html": "<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #111;\">\n    \n    <p><strong>tldr</strong><br>\n    I am a passionate Full Stack Developer focused on building scalable, responsive web applications using modern JavaScript frameworks and databases, eager to contribute to robust solutions.</p>\n    \n    <p>Dear Faiqa Rashid,</p>\n    \n    <p>I am excited to apply for the Mid Level Full Stack Developer position at Verdant Soft. The opportunity to work onsite in Johar Town Lahore with a team dedicated to developing impactful web applications aligns perfectly with my career goals and expertise.</p>\n    \n    <p>With over two years of experience, I have developed and maintained comprehensive web applications using React.js, Next.js, Node.js, and both SQL and NoSQL databases like PostgreSQL and MongoDB. Notably, I built a social app featuring real-time chat, notifications, and role-based authentication using NextAuth.js, along with subscription services integrated via Stripe. My experience with WebSocket/Pusher for live updates and Prisma for efficient database management equips me well to deliver scalable solutions, matching Verdant Soft's requirements.</p>\n    \n    <p>Please find my portfolio and GitHub for reference:</p>\n    <ul>\n      <li>GitHub: <a href=\"https://github.com/Ahmad-code077\" target=\"_blank\">https://github.com/Ahmad-code077</a></li>\n      <li>Portfolio: <a href=\"https://ahmadmamoon.netlify.app\" target=\"_blank\">https://ahmadmamoon.netlify.app</a></li>\n      <li>LinkedIn: <a href=\"https://www.linkedin.com/in/muhammad-ahmad077/\" target=\"_blank\">https://www.linkedin.com/in/muhammad-ahmad077/</a></li>\n    </ul>\n    \n    <p>I am confident that my hands-on experience with front-end UI components using Tailwind CSS and Shadcn, combined with backend API design and real-time features, will allow me to contribute effectively to your development team. I am eager to bring my skills in building responsive, feature-rich applications to support your projects and growth plans.</p>\n    \n    <p>Best regards,<br>\n    Muhammad Ahmad<br>\n    +92-321-0711148<br>\n    <a href=\"mailto:ahmadeveloper077@gmail.com\">ahmadeveloper077@gmail.com</a></p>\n    \n  </body>\n</html>",
        "subject": "Application for Mid Level Full Stack Developer Position at Verdant Soft",
        "date": "2026-01-13T22:11:07.000Z",
        "to": {
          "value": [
            {
              "address": "mahmadeveloper077@gmail.com",
              "name": ""
            }
          ],
          "html": "<span class=\"mp_address_group\"><a href=\"mailto:mahmadeveloper077@gmail.com\" class=\"mp_address_email\">mahmadeveloper077@gmail.com</a></span>",
          "text": "mahmadeveloper077@gmail.com"
        },
        "from": {
          "value": [
            {
              "address": "ahmadeveloper077@gmail.com",
              "name": ""
            }
          ],
          "html": "<span class=\"mp_address_group\"><a href=\"mailto:ahmadeveloper077@gmail.com\" class=\"mp_address_email\">ahmadeveloper077@gmail.com</a></span>",
          "text": "ahmadeveloper077@gmail.com"
        },
        "messageId": "19bb969a7c37104d"
      }
    ],
    "Update the row": [
      {
        "id": "b3a9cbc0-d6c4-455f-a772-59d6db41b138",
        "raw_post": "📢 hashtag#HiringAlert\n\n𝐏𝐨𝐬𝐢𝐭𝐢𝐨𝐧: 𝐌𝐢𝐝 𝐥𝐞𝐯𝐞𝐥 - Full Stack Developer\n𝐄𝐱𝐩𝐞𝐫𝐢𝐞𝐧𝐜𝐞: 2+ 𝐲𝐞𝐚𝐫𝐬\nWe are looking for a skilled Full Stack Developer with experience in front end technologies and back-end development to join our development team. \n\nThe candidate will be responsible for developing and maintaining web applications, collaborating with cross-functional teams, and building robust solutions. This role requires proficiency in both front-end and back-end development, along with expertise in MySQL and MongoDB databases.\n\n𝐍𝐨𝐭𝐞: 𝐓𝐡𝐢𝐬 𝐢𝐬 𝐚𝐧 𝐎𝐧𝐬𝐢𝐭𝐞 𝐫𝐨𝐥𝐞, 𝐈𝐧 𝐉𝐨𝐡𝐚𝐫 𝐓𝐨𝐰𝐧 𝐋𝐚𝐡𝐨𝐫𝐞. \n𝐓𝐢𝐦𝐢𝐧𝐠𝐬: 11:00 𝐀𝐌 - 8:00 𝐏𝐌\n\n𝐖𝐡𝐚𝐭 𝐖𝐞 𝐎𝐟𝐟𝐞𝐫:\n☑️Biannual Increments\n☑️Eid Bonuses/Gifts\n☑️Leave Encashment\n☑️Interest Free Loans\n☑️Performance based incentives\n☑️Maternity & Paternity Leaves\n☑️Career & growth plans\n☑️Monthly Dinner/Lunch\n☑️Company Sponsored Trips\n\n📧𝐇𝐨𝐰 𝐭𝐨 𝐀𝐩𝐩𝐥𝐲: Please share your resume here, faiqa.rashid@verdant-soft.com \n\nhashtag#FullStackDeveloper hashtag#FullStackDevelopment hashtag#SoftwareDeveloper hashtag#WebDeveloper hashtag#SoftwareEngineering hashtag#JavaScript hashtag#ReactJS hashtag#NodeJS hashtag#MERNStack hashtag#TechCareers hashtag#DeveloperCommunity hashtag#StartupLife hashtag#LinkedInTech hashtag#VerdantSoft\n\napply here ",
        "title": "Mid level - Full Stack Developer",
        "company": "Verdant Soft",
        "recruiter_name": "Faiqa Rashid",
        "recruiter_email": "faiqa.rashid@verdant-soft.com",
        "location": "Johar Town Lahore",
        "work_type": "Onsite",
        "experience": "2+ years",
        "skills": [
          "React.js",
          "Next.js",
          "Node.js",
          "MySQL",
          "MongoDB",
          "JavaScript",
          "TypeScript",
          "Tailwind CSS",
          "Redux Toolkit",
          "RTK Query",
          "Axios",
          "Zod",
          "Shadcn",
          "React-hook-form",
          "Express.js",
          "PostgreSQL",
          "Prisma",
          "REST APIs",
          "NextAuth.js",
          "Pusher",
          "WebSocket",
          "Socket.io",
          "Stripe",
          "Role-Based Access Control"
        ],
        "timings": "11:00 AM - 8:00 PM",
        "gmail_draft_id": "r6438763173322751803",
        "status": "sent",
        "sent_at": "2026-01-14T16:53:33.479",
        "follow_up_date": null,
        "follow_up_count": 0,
        "created_at": "2026-01-14T21:05:02.127854",
        "user_id": "cfdb1e8a-421b-4d50-a0c0-285beb2dc2c3",
        "thread_id": "19bbe7de9c745466",
        "gmail_message_id": "19bbe7de9c745466"
      }
    ],
    "Get many rows": [
      {
        "id": "b3a9cbc0-d6c4-455f-a772-59d6db41b138",
        "raw_post": "📢 hashtag#HiringAlert\n\n𝐏𝐨𝐬𝐢𝐭𝐢𝐨𝐧: 𝐌𝐢𝐝 𝐥𝐞𝐯𝐞𝐥 - Full Stack Developer\n𝐄𝐱𝐩𝐞𝐫𝐢𝐞𝐧𝐜𝐞: 2+ 𝐲𝐞𝐚𝐫𝐬\nWe are looking for a skilled Full Stack Developer with experience in front end technologies and back-end development to join our development team. \n\nThe candidate will be responsible for developing and maintaining web applications, collaborating with cross-functional teams, and building robust solutions. This role requires proficiency in both front-end and back-end development, along with expertise in MySQL and MongoDB databases.\n\n𝐍𝐨𝐭𝐞: 𝐓𝐡𝐢𝐬 𝐢𝐬 𝐚𝐧 𝐎𝐧𝐬𝐢𝐭𝐞 𝐫𝐨𝐥𝐞, 𝐈𝐧 𝐉𝐨𝐡𝐚𝐫 𝐓𝐨𝐰𝐧 𝐋𝐚𝐡𝐨𝐫𝐞. \n𝐓𝐢𝐦𝐢𝐧𝐠𝐬: 11:00 𝐀𝐌 - 8:00 𝐏𝐌\n\n𝐖𝐡𝐚𝐭 𝐖𝐞 𝐎𝐟𝐟𝐞𝐫:\n☑️Biannual Increments\n☑️Eid Bonuses/Gifts\n☑️Leave Encashment\n☑️Interest Free Loans\n☑️Performance based incentives\n☑️Maternity & Paternity Leaves\n☑️Career & growth plans\n☑️Monthly Dinner/Lunch\n☑️Company Sponsored Trips\n\n📧𝐇𝐨𝐰 𝐭𝐨 𝐀𝐩𝐩𝐥𝐲: Please share your resume here, faiqa.rashid@verdant-soft.com \n\nhashtag#FullStackDeveloper hashtag#FullStackDevelopment hashtag#SoftwareDeveloper hashtag#WebDeveloper hashtag#SoftwareEngineering hashtag#JavaScript hashtag#ReactJS hashtag#NodeJS hashtag#MERNStack hashtag#TechCareers hashtag#DeveloperCommunity hashtag#StartupLife hashtag#LinkedInTech hashtag#VerdantSoft\n\napply here ",
        "title": "Mid level - Full Stack Developer",
        "company": "Verdant Soft",
        "recruiter_name": "Faiqa Rashid",
        "recruiter_email": "faiqa.rashid@verdant-soft.com",
        "location": "Johar Town Lahore",
        "work_type": "Onsite",
        "experience": "2+ years",
        "skills": [
          "React.js",
          "Next.js",
          "Node.js",
          "MySQL",
          "MongoDB",
          "JavaScript",
          "TypeScript",
          "Tailwind CSS",
          "Redux Toolkit",
          "RTK Query",
          "Axios",
          "Zod",
          "Shadcn",
          "React-hook-form",
          "Express.js",
          "PostgreSQL",
          "Prisma",
          "REST APIs",
          "NextAuth.js",
          "Pusher",
          "WebSocket",
          "Socket.io",
          "Stripe",
          "Role-Based Access Control"
        ],
        "timings": "11:00 AM - 8:00 PM",
        "gmail_draft_id": "r6438763173322751803",
        "status": "sent",
        "sent_at": "2026-01-11T16:53:33.479",
        "follow_up_date": null,
        "follow_up_count": 0,
        "created_at": "2026-01-14T21:05:02.127854",
        "user_id": "cfdb1e8a-421b-4d50-a0c0-285beb2dc2c3",
        "thread_id": "19bbe7de9c745466",
        "gmail_message_id": "19bbe7de9c745466",
        "sent_email_html": null,
        "follow_up_1_html": null,
        "follow_up_2_html": null
      }
    ],
    "Generate Email Draft": [
      {
        "headers": {
          "host": "my-automation-4j0i.onrender.com",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
          "content-length": "1736",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "en-US,en;q=0.9,ar;q=0.8,hy;q=0.7,ur;q=0.6",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "119.157.191.199",
          "cf-ipcountry": "PK",
          "cf-ray": "9bbf5dd01fce4906-SIN",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "origin": "http://localhost:3000",
          "priority": "u=1, i",
          "referer": "http://localhost:3000/",
          "render-proxy-ttl": "4",
          "rndr-id": "d54a9789-ec83-447e",
          "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "true-client-ip": "119.157.191.199",
          "x-forwarded-for": "119.157.191.199, 172.71.82.149, 10.17.191.229",
          "x-forwarded-proto": "https",
          "x-request-start": "1768081579582560"
        },
        "params": {},
        "query": {},
        "body": {
          "jobDescription": "📢 hashtag#HiringAlert\n\n𝐏𝐨𝐬𝐢𝐭𝐢𝐨𝐧: 𝐌𝐢𝐝 𝐥𝐞𝐯𝐞𝐥 - Full Stack Developer\n𝐄𝐱𝐩𝐞𝐫𝐢𝐞𝐧𝐜𝐞: 2+ 𝐲𝐞𝐚𝐫𝐬\nWe are looking for a skilled Full Stack Developer with experience in front end technologies and back-end development to join our development team. \n\nThe candidate will be responsible for developing and maintaining web applications, collaborating with cross-functional teams, and building robust solutions. This role requires proficiency in both front-end and back-end development, along with expertise in MySQL and MongoDB databases.\n\n𝐍𝐨𝐭𝐞: 𝐓𝐡𝐢𝐬 𝐢𝐬 𝐚𝐧 𝐎𝐧𝐬𝐢𝐭𝐞 𝐫𝐨𝐥𝐞, 𝐈𝐧 𝐉𝐨𝐡𝐚𝐫 𝐓𝐨𝐰𝐧 𝐋𝐚𝐡𝐨𝐫𝐞. \n𝐓𝐢𝐦𝐢𝐧𝐠𝐬: 11:00 𝐀𝐌 - 8:00 𝐏𝐌\n\n𝐖𝐡𝐚𝐭 𝐖𝐞 𝐎𝐟𝐟𝐞𝐫:\n☑️Biannual Increments\n☑️Eid Bonuses/Gifts\n☑️Leave Encashment\n☑️Interest Free Loans\n☑️Performance based incentives\n☑️Maternity & Paternity Leaves\n☑️Career & growth plans\n☑️Monthly Dinner/Lunch\n☑️Company Sponsored Trips\n\n📧𝐇𝐨𝐰 𝐭𝐨 𝐀𝐩𝐩𝐥𝐲: Please share your resume here, faiqa.rashid@verdant-soft.com \n\nhashtag#FullStackDeveloper hashtag#FullStackDevelopment hashtag#SoftwareDeveloper hashtag#WebDeveloper hashtag#SoftwareEngineering hashtag#JavaScript hashtag#ReactJS hashtag#NodeJS hashtag#MERNStack hashtag#TechCareers hashtag#DeveloperCommunity hashtag#StartupLife hashtag#LinkedInTech hashtag#VerdantSoft\n\napply here ",
          "action": "save",
          "timestamp": "2026-01-10T21:46:19.504Z",
          "metadata": {
            "characterCount": 1339,
            "wordCount": 141
          }
        },
        "webhookUrl": "https://my-automation-4j0i.onrender.com/webhook/send-email-to-n8n",
        "executionMode": "production"
      }
    ],
    "Send Draft messages": [
      {
        "headers": {
          "host": "my-automation-4j0i.onrender.com",
          "user-agent": "node",
          "content-length": "247",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "119.157.166.130",
          "cf-ipcountry": "PK",
          "cf-ray": "9be040c80a8403e8-SIN",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "render-proxy-ttl": "4",
          "rndr-id": "1a9d2ea6-8747-4b01",
          "sec-fetch-mode": "cors",
          "true-client-ip": "119.157.166.130",
          "x-forwarded-for": "119.157.166.130, 172.70.208.46, 10.16.226.84",
          "x-forwarded-proto": "https",
          "x-request-start": "1768426420673876"
        },
        "params": {},
        "query": {},
        "body": {
          "jobId": "b3a9cbc0-d6c4-455f-a772-59d6db41b138",
          "recruiterEmail": "faiqa.rashid@verdant-soft.com",
          "recruiterName": "Faiqa Rashid",
          "company": "Verdant Soft",
          "jobTitle": "Mid level - Full Stack Developer",
          "userId": "cfdb1e8a-421b-4d50-a0c0-285beb2dc2c3"
        },
        "webhookUrl": "https://my-automation-4j0i.onrender.com/webhook/send-job-post-email",
        "executionMode": "production"
      }
    ],
    "Delete a draft": [
      {
        "success": true
      }
    ],
    "AI Agent1": [
      {
        "output": {
          "email_subject": "Re: Application for Mid Level Full Stack Developer Position at Verdant Soft",
          "email_body_chunks": {
            "tldr": "Following up to confirm availability for a meeting to discuss the Full Stack Developer role.",
            "para1": "Thank you for your message regarding the Mid Level Full Stack Developer position at Verdant Soft. I appreciate the opportunity to discuss the role further and am very enthusiastic about the possibility of contributing to your team.",
            "para2": "I am available to meet at your convenience and would be happy to coordinate a time that works best for you. Please let me know your preferred date and time for the discussion.",
            "para3": "Looking forward to your reply and the chance to explore how my skills align with your team’s needs. Thank you once again for considering my application.",
            "closing": "Best regards,"
          }
        }
      }
    ],
    "Send a message1": [
      {
        "id": "19bc8944a72b7011",
        "threadId": "19bc8944a72b7011",
        "labelIds": [
          "SENT"
        ]
      }
    ],
    "Code in JavaScript1": [
      {
        "id": "b3a9cbc0-d6c4-455f-a772-59d6db41b138",
        "status": "sent",
        "nextAction": "follow_up_2",
        "follow_up_count": 0
      }
    ]
  },
  "meta": {
    "instanceId": "5fb562ea0f9026abe7e8f315ec46894e8801411ce3db851fdbe45168e485acda"
  }
}