Facebook and Instagram Automation/Content Factory RSS Feed.json
{
  "name": "Content Factory RSS Feed",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "bf7635cf-aad4-48a8-829d-eaafda7c7c0c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1488,
        416
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "f03285a3-2b52-4621-afce-5da5190d14ab",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        16,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ec5325db-8b9e-4c18-b8b9-2da8bbd28741",
      "name": "Filter Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        -96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4f525ed1-1e18-448f-a8f6-bd9b639b4768",
      "name": "Filter Fields 3",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "56b5269c-7afd-4d96-aad6-493f5e773567",
      "name": "Filter Fields 4",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "64532747-79a5-4dd0-8119-d1d25b3efdea",
      "name": "Filter Fields 5",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "14769dcd-ddf3-447f-97fa-dea54303b82e",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d16332e3-c50c-478e-baa4-11ba4c4935a2",
      "name": "Filter Fields 6",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "115adb5c-4956-46e3-b881-788a23475a8a",
      "name": "Filter Fields 7",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        864
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3d8de057-d3bd-47c3-bc46-fce6f19793c1",
      "name": "Filter Fields 8",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        1056
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst now = new Date();\n\n// Keep only items from the last 24 hours\nconst last24HoursData = data.filter(item => {\n  const itemDate = new Date(item.json.pubDate); // match your data path\n  const diffMs = now - itemDate;\n  const diffHours = diffMs / (1000 * 60 * 60);\n  return diffHours <= 24; // only keep items within 24 hours\n});\n\nreturn last24HoursData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        496
      ],
      "id": "207eaa4f-5acf-435b-aeca-439051f36b0c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "30d4f694-9378-42b4-b1d5-cbc38fb3e7fe",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.link }}",
              "rightValue": "opinion|rumour|layoff|porn|marijuana"
            },
            {
              "id": "fdddd55b-19d5-4e87-9586-01653750e807",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.title }}",
              "rightValue": "Opinion|Rumour|layoff|porn|marijuana|Sponsored|Ad|Click|Download|Subscribe"
            },
            {
              "id": "12e44449-d6bb-4243-abb7-cfa03a9327c5",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "layoff|porn|marijuana"
            },
            {
              "id": "2df9ef75-ea55-4e5b-a78d-e37de85fe8ca",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "layoff|porn|marijuana|menu.*|sidebar.*|footer.*|copyright.*|share.*|related.*|click here|read more|sign up|subscribe|newsletter|comment.*|advertisement|banner.*|sponsor.*"
            },
            {
              "id": "04c95b8b-29aa-4f88-b3e5-3182af823ecd",
              "leftValue": "={{ $json.content.length }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "7c1c5c54-b86a-46ac-8338-1e4d92404b60",
              "leftValue": "={{ $json.content.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "819e2c88-9475-44da-8f31-15169fd0c08d",
      "name": "Remove Certain Content1",
      "type": "n8n-nodes-base.filter",
      "position": [
        1936,
        496
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "https://dev.to/feed",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "9f53084d-b0f9-4a72-8a7f-7f2feb49f000",
      "name": "Dev.to Community Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        752,
        -96
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "47099af6-a047-468e-82fa-18919bb07e51",
      "name": "TechCrunch News Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        752,
        96
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "1171a121-6f30-45d9-ad20-5d4c0cb18f14",
      "name": "The Hacker News Security Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        752,
        288
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "*Not to be confused with \"Hacker News\" from ycombinator."
    },
    {
      "parameters": {
        "url": "https://openai.com/news/rss.xml",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "cd29017c-ada3-434a-b8e5-a7897f7a1104",
      "name": "OpenAI Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        752,
        480
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/AmazonWebServicesBlog",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "6c3e6527-5aab-4808-a983-ed84be063995",
      "name": "AWS Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        752,
        672
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io/rss/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "aa27d1f4-4562-46b8-a099-b88db2638aa7",
      "name": "n8n Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        752,
        864
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://github.blog/feed/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "a310ee22-b6bc-4452-a831-2644a7119c65",
      "name": "Github Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        752,
        1056
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.link }}"
            },
            {
              "fieldId": "pub_date",
              "fieldValue": "={{ $json.pubDate }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "cfdb1e8a-421b-4d50-a0c0-285beb2dc2c3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2160,
        496
      ],
      "id": "d1f16def-23b4-4086-a575-b03ecc7a4bb5",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "jlSCXolY4MW932v5",
          "name": "Supabase account of automation"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "Dev.to Community Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "TechCrunch News Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "The Hacker News Security Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI Official Blog Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "AWS Official Blog Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n Official Blog Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Github Official Blog Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fields 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter Fields 4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter Fields 5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Filter Fields 6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Filter Fields 7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Filter Fields 8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Remove Certain Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Certain Content1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev.to Community Feed": {
      "main": [
        [
          {
            "node": "Filter Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechCrunch News Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Hacker News Security Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6265dd4-fc90-4e6b-9b13-c7a1439530cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5fb562ea0f9026abe7e8f315ec46894e8801411ce3db851fdbe45168e485acda"
  },
  "id": "MXzzdjUVo2y4b0Vr",
  "tags": []
}
