Facebook and Instagram Automation/Content Factory RSS Feed.json
{
  "nodes": [
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "51faaf29-46e8-4e40-bfa7-33cee2be2f95",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        624,
        384
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "7b0172e9-4856-42dc-b13e-95c9e6d18424",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -848,
        448
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e775f01-0337-4297-9402-2a89e2b15203",
      "name": "Filter Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        112,
        -128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62908e59-075c-4420-a31d-46c3628fbead",
      "name": "Filter Fields 3",
      "type": "n8n-nodes-base.set",
      "position": [
        112,
        64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a150398-da5e-4e69-9f7a-5120a527f11c",
      "name": "Filter Fields 4",
      "type": "n8n-nodes-base.set",
      "position": [
        112,
        256
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "aa40b37f-6ad2-4c4c-a7c0-27ae1b63fc85",
      "name": "Filter Fields 5",
      "type": "n8n-nodes-base.set",
      "position": [
        112,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "14769dcd-ddf3-447f-97fa-dea54303b82e",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b34353b5-1ab8-4710-a4c9-294dc89c30d1",
      "name": "Filter Fields 6",
      "type": "n8n-nodes-base.set",
      "position": [
        112,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a75e8cf-8fa8-4837-aac6-837729536a4b",
      "name": "Filter Fields 7",
      "type": "n8n-nodes-base.set",
      "position": [
        112,
        832
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4e75112-3701-4f30-bfa3-18ae25634598",
      "name": "Filter Fields 8",
      "type": "n8n-nodes-base.set",
      "position": [
        112,
        1024
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst now = new Date();\n\n// Keep only items from the last 24 hours\nconst last24HoursData = data.filter(item => {\n  const itemDate = new Date(item.json.pubDate); // match your data path\n  const diffMs = now - itemDate;\n  const diffHours = diffMs / (1000 * 60 * 60);\n  return diffHours <= 24; // only keep items within 24 hours\n});\n\nreturn last24HoursData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        464
      ],
      "id": "15f87659-80f2-43e1-80b7-5cd372a8f435",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://dev.to/feed",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "8184dbbd-90b1-4d05-a727-e4aa825e76ec",
      "name": "Dev.to Community Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -112,
        -128
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "b22771f9-3de7-4529-9d3d-2b709c0bf26d",
      "name": "TechCrunch News Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -112,
        64
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "e4599509-aa99-460b-9881-2e0f69f827d7",
      "name": "The Hacker News Security Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -112,
        256
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "*Not to be confused with \"Hacker News\" from ycombinator."
    },
    {
      "parameters": {
        "url": "https://openai.com/news/rss.xml",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "cfac89d1-794e-4236-8ad2-2f808e36fb08",
      "name": "OpenAI Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -112,
        448
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/AmazonWebServicesBlog",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "c0a4f93a-5c13-4399-bff6-22f106f10909",
      "name": "AWS Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -112,
        640
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io/rss/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "6034aa4f-eea1-40a7-8cb5-aea4ef9b2d5a",
      "name": "n8n Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -112,
        832
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://github.blog/feed/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "edbe4582-090a-4e09-8c7d-6fa92a4679a1",
      "name": "Github Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -112,
        1024
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.link }}"
            },
            {
              "fieldId": "pub_date",
              "fieldValue": "={{ $json.pubDate }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "cfdb1e8a-421b-4d50-a0c0-285beb2dc2c3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        464
      ],
      "id": "a213ff04-f502-4578-8c17-3d1de7f4e71f",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "0SIXHXBmY0xcmGP4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Process each item and return results\nconst results = items.map(item => {\n    // Get the raw HTML content - adjust the field name if needed\n    // If your content is in a field called 'content', use that\n    const rawHtml = item.json.content || item.json.data || '';\n    \n    // Skip if no content\n    if (!rawHtml) {\n        return { \n            json: { \n                ...item.json,\n                cleanedText: '' \n            } \n        };\n    }\n    \n    // 1. Remove script, style, SVG, and other non-content tags and their content\n    let cleanedText = rawHtml.replace(/<script\\b[^<]*(?:(?!<\\/script>)<[^<]*)*<\\/script>/gi, ' ');\n    cleanedText = cleanedText.replace(/<style\\b[^<]*(?:(?!<\\/style>)<[^<]*)*<\\/style>/gi, ' ');\n    cleanedText = cleanedText.replace(/<svg\\b[^<]*(?:(?!<\\/svg>)<[^<]*)*<\\/svg>/gi, ' ');\n    cleanedText = cleanedText.replace(/<noscript\\b[^<]*(?:(?!<\\/noscript>)<[^<]*)*<\\/noscript>/gi, ' ');\n    \n    // 2. Remove all other HTML tags, converting them to spaces\n    cleanedText = cleanedText.replace(/<[^>]*>/g, ' ');\n    \n    // 3. Decode common HTML entities\n    cleanedText = cleanedText.replace(/&nbsp;/g, ' ')\n                             .replace(/&amp;/g, '&')\n                             .replace(/&lt;/g, '<')\n                             .replace(/&gt;/g, '>')\n                             .replace(/&quot;/g, '\"')\n                             .replace(/&#039;/g, \"'\");\n    \n    // 4. Collapse multiple whitespace characters into a single space\n    cleanedText = cleanedText.replace(/\\s+/g, ' ');\n    \n    // 5. Trim leading/trailing whitespace\n    cleanedText = cleanedText.trim();\n    \n    // Return the original item data PLUS the cleaned text\n    // This preserves all original fields (title, pubDate, link, etc.)\n    return { \n        json: { \n            ...item.json,\n            content:cleanedText \n        } \n    };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        464
      ],
      "id": "a7fb9c21-9d46-4f61-973f-e5bb08c871d9",
      "name": "Cleaning html to text"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "Dev.to Community Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "TechCrunch News Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "The Hacker News Security Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI Official Blog Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "AWS Official Blog Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n Official Blog Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Github Official Blog Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fields 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter Fields 4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter Fields 5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Filter Fields 6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Filter Fields 7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Filter Fields 8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Cleaning html to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev.to Community Feed": {
      "main": [
        [
          {
            "node": "Filter Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechCrunch News Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Hacker News Security Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaning html to text": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5fb562ea0f9026abe7e8f315ec46894e8801411ce3db851fdbe45168e485acda"
  }
}
