Facebook and Instagram Automation/Content Factory RSS Feed.json
{
  "nodes": [
    {
      "parameters": {
        "numberInputs": 7
      },
      "id": "3194468b-e003-457b-adad-f56e13e76b1d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        4144,
        2032
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "e8b3c5e3-cb1e-4dfe-930f-f9de7435915d",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2672,
        2096
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "25e1c39e-7ea1-4a3c-842f-ec0d35b4c08e",
      "name": "Filter Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        1520
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "931bcc14-e4bf-475b-8e52-e6274e11da9e",
      "name": "Filter Fields 3",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        1712
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "503821d6-0047-4fe1-849c-c924303e091e",
      "name": "Filter Fields 4",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        1904
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2eb39b0-4dd3-45b0-b58b-4064e41a06e2",
      "name": "Filter Fields 5",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        2096
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "14769dcd-ddf3-447f-97fa-dea54303b82e",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "72a229fe-67df-4a34-a9bb-d5b976f51e3a",
      "name": "Filter Fields 6",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        2288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16b83be8-f35f-4ce4-9300-fa0f8e3f304e",
      "name": "Filter Fields 7",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        2480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2ffe594-180d-4e1d-b869-8056ac67015d",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "87c5a171-9ab9-4043-a72a-32aec218fe63",
              "name": "pubDate",
              "type": "string",
              "value": "={{ $json.pubDate }}"
            },
            {
              "id": "978b05c9-6e6b-4a18-bc06-4de785b19413",
              "name": "link",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "199a5920-72a3-470e-9adf-8252f6ebb37a",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "53dd62d7-4805-419b-8c12-d71a3154fdbe",
      "name": "Filter Fields 8",
      "type": "n8n-nodes-base.set",
      "position": [
        3632,
        2672
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst now = new Date();\n\n// Keep only items from the last 24 hours\nconst last24HoursData = data.filter(item => {\n  const itemDate = new Date(item.json.pubDate); // match your data path\n  const diffMs = now - itemDate;\n  const diffHours = diffMs / (1000 * 60 * 60);\n  return diffHours <= 24; // only keep items within 24 hours\n});\n\nreturn last24HoursData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4368,
        2112
      ],
      "id": "98071617-e4c4-4f77-8879-02867be45d6d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "30d4f694-9378-42b4-b1d5-cbc38fb3e7fe",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.link }}",
              "rightValue": "opinion|rumour|layoff|porn|marijuana"
            },
            {
              "id": "fdddd55b-19d5-4e87-9586-01653750e807",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.title }}",
              "rightValue": "Opinion|Rumour|layoff|porn|marijuana|Sponsored|Ad|Click|Download|Subscribe"
            },
            {
              "id": "12e44449-d6bb-4243-abb7-cfa03a9327c5",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "layoff|porn|marijuana"
            },
            {
              "id": "2df9ef75-ea55-4e5b-a78d-e37de85fe8ca",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "layoff|porn|marijuana|menu.*|sidebar.*|footer.*|copyright.*|share.*|related.*|click here|read more|sign up|subscribe|newsletter|comment.*|advertisement|banner.*|sponsor.*"
            },
            {
              "id": "04c95b8b-29aa-4f88-b3e5-3182af823ecd",
              "leftValue": "={{ $json.content.length }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "7c1c5c54-b86a-46ac-8338-1e4d92404b60",
              "leftValue": "={{ $json.content.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f064ccc-1e2e-421c-82e8-2d3d7fa91e15",
      "name": "Remove Certain Content1",
      "type": "n8n-nodes-base.filter",
      "position": [
        4592,
        2112
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "https://dev.to/feed",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "868f2a97-cd61-4ae7-8e0d-9bff1c661407",
      "name": "Dev.to Community Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        3408,
        1520
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "d089283f-0f9e-4d43-9079-170c8736b620",
      "name": "TechCrunch News Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        3408,
        1712
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "5f540eaf-04fe-4817-93ee-7df62578c905",
      "name": "The Hacker News Security Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        3408,
        1904
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "*Not to be confused with \"Hacker News\" from ycombinator."
    },
    {
      "parameters": {
        "url": "https://openai.com/news/rss.xml",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "91d023d6-4863-4283-bb63-283f6318c4b6",
      "name": "OpenAI Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        3408,
        2096
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/AmazonWebServicesBlog",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "0004f4fa-511d-419b-b675-b4afebd13424",
      "name": "AWS Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        3408,
        2288
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io/rss/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "eea44828-8102-48ff-83ee-fc1564ca42f4",
      "name": "n8n Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        3408,
        2480
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://github.blog/feed/",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "1fd93b56-6a0f-44dd-9b9a-da772a9e2de5",
      "name": "Github Official Blog Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        3408,
        2672
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "link",
              "fieldValue": "={{ $json.link }}"
            },
            {
              "fieldId": "pub_date",
              "fieldValue": "={{ $json.pubDate }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4816,
        2112
      ],
      "id": "6ef7165b-9eab-41df-b014-86230d242505",
      "name": "Create a row"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "Dev.to Community Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "TechCrunch News Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "The Hacker News Security Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI Official Blog Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "AWS Official Blog Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n Official Blog Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Github Official Blog Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fields 3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter Fields 4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter Fields 5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Filter Fields 6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Filter Fields 7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Filter Fields 8": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Remove Certain Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Certain Content1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dev.to Community Feed": {
      "main": [
        [
          {
            "node": "Filter Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechCrunch News Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Hacker News Security Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Official Blog Feed": {
      "main": [
        [
          {
            "node": "Filter Fields 8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "5fb562ea0f9026abe7e8f315ec46894e8801411ce3db851fdbe45168e485acda"
  }
}