Facebook and Instagram Automation/Message Replier and Comments Replier.json
{
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        160,
        -864
      ],
      "id": "624be1a1-beff-4411-b33d-73b7bd9f9fad",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "if($json.query[\"hub.verify_token\"] === \"some-random-verfiy-token3rsdfjdf2393skljfsdlfj9023kjdldjf90elkdsfjdslfj\") {\n  return [{json:{challenge:$json.query[\"hub.challenge\"]}}];\n} else {\n  return [{json:{challenge:\"\"}}]; // or 403\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -864
      ],
      "id": "9e934b8c-be4e-4aef-94bd-fdd51792b768",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -864
      ],
      "id": "2ae43975-7883-4d36-b072-c0b84bd90478",
      "name": "Webhook to verfiy the token",
      "webhookId": "033c911d-b97c-4b0d-99c6-7b7777b4d318"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        288
      ],
      "id": "676d1da2-b8fb-4da6-a14d-2d34fdd40eeb",
      "name": "Webhook to recieve messages and comments",
      "webhookId": "033c911d-b97c-4b0d-99c6-7b7777b4d318"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -208,
        624
      ],
      "id": "52f80ea3-f95b-49b6-84dc-eae70340a1ac",
      "name": "Respond back to facebook curcial"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        144
      ],
      "id": "e41fa921-279a-4363-abb2-e45a78c6e651",
      "name": "Messnger page message body",
      "webhookId": "033c911d-b97c-4b0d-99c6-7b7777b4d318",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        352
      ],
      "id": "d3bd7ceb-fe9f-4cc5-802f-1effec3d6220",
      "name": "Instagram commets api",
      "webhookId": "033c911d-b97c-4b0d-99c6-7b7777b4d318"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.object }}",
                    "rightValue": "page",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "033ef919-fa65-4bb3-b028-8bc0b9407011"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f34cf796-29a0-41f1-b619-639fe5263e4b",
                    "leftValue": "={{ $json.body.object }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -16,
        288
      ],
      "id": "2f112bb8-fde0-4a86-9480-cf929b855f39",
      "name": "seperate instagram and facebook Data"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        544
      ],
      "id": "0884f42f-229e-41a0-b52e-cb7179276b24",
      "name": "Instagram Messages",
      "webhookId": "033c911d-b97c-4b0d-99c6-7b7777b4d318",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will receive conversation data. Read the last message and reply appropriately in 1-2 sentences maximum.\n{{JSON.stringify($input.all().map(item=>item.json))}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful AI assistant that replies to conversations naturally and concisely. Your replies should be:\n\nShort & Simple: Use plain English with clear, direct wording.\n\nHuman-like: Sound natural, friendly, and polite without robotic phrasing.\n\nNo Special Characters: Avoid em dashes, bullet points, asterisks, or markdown.\n\nDirect Response: Answer the last message appropriately without extra explanations.\n\nConversational Tone: Keep it casual and engaging.\n\nExample Style:\n\n\"Sure, I can help with that.\"\n\n\"Got it, I'll take care of that.\"\n\n\"Thanks for sharing that information.\"\n\n\"I understand what you need.\"\n\n\nDo not include any other text, explanations, or formatting outside the JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1552,
        880
      ],
      "id": "409a7f33-89bf-4afd-b93f-37987d76d820",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "914740581721664",
        "edge": "conversations",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "platform",
                "value": "instagram"
              },
              {
                "name": "user_id",
                "value": "={{ $json.body.entry[0].changes[0].value.sender.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        880,
        880
      ],
      "id": "882bd1ce-66d7-4a68-b262-aab03189386e",
      "name": "Fetch conversation",
      "credentials": {
        "facebookGraphApi": {
          "id": "3lONcAbTSkpQ9Aoz",
          "name": "page access token"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1560,
        1104
      ],
      "id": "aa28c11e-1af2-4f27-90ed-61ac27e87b72",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6j24kqb9tFijNrQo",
          "name": "OpenAi account G"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reply\":\"your reply goes here \"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1688,
        1104
      ],
      "id": "0c074f43-6593-4bf7-8ea0-1e2e58857084",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $json.data[0].id }}",
        "edge": "messages",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "message,from,created_time"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1104,
        880
      ],
      "id": "065fb9f1-fb2e-4767-a134-882e7d8ca8d7",
      "name": "Get recent converstaion",
      "credentials": {
        "facebookGraphApi": {
          "id": "3lONcAbTSkpQ9Aoz",
          "name": "page access token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.first().json.data;\nconst myId = \"17841478709256156\";\n\nreturn messages\n  .sort((a, b) => new Date(a.created_time) - new Date(b.created_time))\n  .map(msg => ({\n    text: msg.message,\n    sender: msg.from.id === myId ? \"me\" : \"other\",\n    time: msg.created_time,\n    username: msg.from.username\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        880
      ],
      "id": "c7ea73aa-b06c-4048-a206-77dc7f2ce7d8",
      "name": "Align Past messages"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].field }}",
                    "rightValue": "comments",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6784192e-dd0a-4933-a886-bdef303c86eb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram Commets"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "970fdd38-b045-490d-9997-8bcc9305e999",
                    "leftValue": "={{ $json.body.entry[0].changes[0].field }}",
                    "rightValue": "messages",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram messages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        656,
        732
      ],
      "id": "a041d820-827a-4eef-b01e-ba8acb4de5bb",
      "name": "seperate dms and commets"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "=914740581721664",
        "edge": "messages",
        "options": {
          "queryParametersJson": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook to recieve messages and comments').first().json.body.entry[0].changes[0].value.sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{$('AI Agent').item.json.output.reply}}\"\n  }\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1968,
        880
      ],
      "id": "ed62c2c7-f777-4116-94b1-0afbdcc8e33c",
      "name": "Instagram Dm replies",
      "credentials": {
        "facebookGraphApi": {
          "id": "3lONcAbTSkpQ9Aoz",
          "name": "page access token"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Summerize all data').item.json.commentId }}",
        "edge": "replies",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.reply }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2480,
        584
      ],
      "id": "fdfa148e-7e1c-4275-b6e1-a0df5e50380d",
      "name": "Instagram Comments replies",
      "credentials": {
        "facebookGraphApi": {
          "id": "3lONcAbTSkpQ9Aoz",
          "name": "page access token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70c037e1-7159-4b43-a24a-39268671c4f5",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.parent_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        584
      ],
      "id": "e5a561f9-5d44-43c6-a764-70afdd10b4a8",
      "name": "check if the child reply"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $json.body.entry[0].changes[0].value.parent_id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "=text,from,timestamp"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1104,
        512
      ],
      "id": "12d30516-3cc4-4f9b-9a0a-a33af547ea2c",
      "name": "Fetch Parent Comments",
      "credentials": {
        "facebookGraphApi": {
          "id": "3lONcAbTSkpQ9Aoz",
          "name": "page access token"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an Instagram comment reply assistant. Generate short, friendly replies.\n\nRULES:\n1. Reply in 1-2 sentences maximum\n2. Casual, conversational tone\n3. Match the comment's energy\n4. For emoji-only comments (❤️, 👍, 😍, etc.), reply with similar emoji\n5. For questions, provide helpful answers\n6. For compliments, say thank you\n7. ALWAYS output in this exact JSON format: {\"reply\": \"Your reply here\"}\n\nEXAMPLES:\nInput: {\"user\":\"ahmad__mamoon\",\"comment\":\"❤️\",\"hasParent\":false,\"parent\":null}\nOutput: {\"reply\": \"❤️\"}\n\nInput: {\"user\":\"ahmad__mamoon\",\"comment\":\"Great post!\",\"hasParent\":false,\"parent\":null}\nOutput: {\"reply\": \"Thanks so much! 😊\"}\n\nInput: {\"user\":\"ahmad__mamoon\",\"comment\":\"How did you do this?\",\"hasParent\":true,\"parent\":{\"user\":\"test\",\"text\":\"Amazing work\"}}\nOutput: {\"reply\": \"I used n8n automation! Would you like to know more?\"}",
              "role": "system"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1904,
        584
      ],
      "id": "d3c04a05-4031-469e-a00e-993c6b4ab710",
      "name": "Message a model",
      "executeOnce": true,
      "credentials": {
        "openAiApi": {
          "id": "6j24kqb9tFijNrQo",
          "name": "OpenAi account G"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const childReplyNode = $('check if the child reply');\nconst fetchParentNode = $('Fetch Parent Comments');\n\nlet webhook = null;\nif (childReplyNode && childReplyNode.item) {\n  const json = childReplyNode.item.json;\n  \n  if (json?.body?.entry?.[0]?.changes?.[0]?.value) {\n    webhook = json.body.entry[0].changes[0].value;\n  }\n}\n\nif (!webhook) {\n  return { error: 'No webhook data found' };\n}\n\nlet parent = null;\nif (webhook.parent_id) {\n  try {\n    if (fetchParentNode?.item?.json) {\n      parent = fetchParentNode.item.json;\n    }\n  } catch (error) {\n    parent = null;\n  }\n}\n\nconst data = {\n  user: webhook?.from?.username || 'unknown',\n  comment: webhook?.text || '',\n  commentId: webhook?.id || '',\n  userId: webhook?.from?.id || '',\n  mediaId: webhook?.media?.id || '',\n  parentId: webhook?.parent_id || null,\n  hasParent: !!parent,\n  parent: parent ? {\n    user: parent?.from?.username || 'unknown',\n    text: parent?.text || '',\n    id: parent?.id || ''\n  } : null\n};\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        584
      ],
      "id": "7bbd5814-f7cb-44c8-b2cc-fce5ed479bc4",
      "name": "Summerize all data"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet prompt = `Comment from ${data.user}: \"${data.comment}\"\\n`;\n\nif (data.hasParent && data.parent) {\n  if (data?.parent?.user === data.user) {\n    prompt += `This is a reply to their own previous comment: \"${data.parent.text}\"\\n`;\n  } else {\n    prompt += `This is a reply to ${data.parent.user}'s comment: \"${data.parent.text}\"\\n`;\n  }\n}\n\nprompt += `Generate a short, friendly reply in 1-2 sentences:`;\n\nreturn {prompt};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        584
      ],
      "id": "5ec99a64-9d78-4952-8e74-b2f86ef9f2c9",
      "name": "Fields to pass to ai"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.message.content)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        584
      ],
      "id": "267058d4-abe4-433e-8260-ed140f7232be",
      "name": "parse incoming data"
    }
  ],
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook to verfiy the token": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook to recieve messages and comments": {
      "main": [
        [
          {
            "node": "Respond back to facebook curcial",
            "type": "main",
            "index": 0
          },
          {
            "node": "seperate instagram and facebook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seperate instagram and facebook Data": {
      "main": [
        [],
        [
          {
            "node": "seperate dms and commets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Instagram Dm replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch conversation": {
      "main": [
        [
          {
            "node": "Get recent converstaion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get recent converstaion": {
      "main": [
        [
          {
            "node": "Align Past messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align Past messages": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seperate dms and commets": {
      "main": [
        [
          {
            "node": "check if the child reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if the child reply": {
      "main": [
        [
          {
            "node": "Fetch Parent Comments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summerize all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Parent Comments": {
      "main": [
        [
          {
            "node": "Summerize all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "parse incoming data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summerize all data": {
      "main": [
        [
          {
            "node": "Fields to pass to ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields to pass to ai": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse incoming data": {
      "main": [
        [
          {
            "node": "Instagram Comments replies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook to verfiy the token": [
      {
        "headers": {
          "host": "my-automation-4j0i.onrender.com",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "accept-encoding": "gzip, br",
          "accept-language": "en-US,en;q=0.9,ar;q=0.8,hy;q=0.7,ur;q=0.6",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "119.157.160.192",
          "cf-ipcountry": "PK",
          "cf-ray": "9b84b97e7cb1fbff-KHI",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19mk8YoXpadDg7%2BtBWjEK%2FZRAcmoxkWqew%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19hniSHxws7cDnIUBIzrW5U2n5HqgAFeMk%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BwliONo1B4H6ymWPLsU0BtC37t13GQ%2BGqIJTbOHTKMXM%2Bd1dh8l1w%2FG%2By387ovttdm1Xmkp5uihQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX189eIaTXN%2B7cwaZV%2B5sRnM2%2B8BydmeKDhUSE0D0b3zWGMbF%2FdpRwSU%2BaAzQnJxOCiRdVe0MeCgfyLJ2RRz61GIGRRsHy1%2BFs5mhxdGRvSth9Gu6TDEpxPp49WsDBBwyI%2Fbl%2Fc1mO9m6LZy18beLH7dMBRFdsIkKiko%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX18xou37q59hr2kN0jB0bcLikmOvJnsTbE%2F76iyuUjErckZOl5THcBT%2Fb4h4u2Uq62zuVEY%2FL42jFkluHoBeX2GpyR756zeTmFtyXTQg4qQ6uN1Zj88Azc%2BVjwdj6GK1NaIZFHrynszJ8w%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%225fb562ea0f9026abe7e8f315ec46894e8801411ce3db851fdbe45168e485acda%23c474b9c6-bd72-4ab8-8aec-611e6a5fb7e6%22%2C%22%24sesid%22%3A%5B1767465282971%2C%22019b850b-7ff1-77a9-98e5-fdcd9f7465d2%22%2C1767463681989%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fmy-automation-4j0i.onrender.com%2Fsignout%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19S1GolcABVU6uAObCxLYwxzjGPwAOH28gQKESQZ6Od3RIiu3mTmyHjbWJK6EBa8NUm9szH6b3VnVEGncGQsUilgGsgVdoU8CGafE4UIAfizbkKE7%2FLqK6HeCU0w%2FHt81FNSUwbgoGvVg%3D%3D",
          "priority": "u=0, i",
          "render-proxy-ttl": "4",
          "rndr-id": "f25e28b7-d126-4048",
          "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "document",
          "sec-fetch-mode": "navigate",
          "sec-fetch-site": "none",
          "sec-fetch-user": "?1",
          "true-client-ip": "119.157.160.192",
          "upgrade-insecure-requests": "1",
          "x-forwarded-for": "119.157.160.192, 172.69.244.186, 10.17.39.207",
          "x-forwarded-proto": "https",
          "x-request-start": "1767466675361130"
        },
        "params": {},
        "query": {
          "hub.mode": "subscribe",
          "hub.verify_token": "some-random-verfiy-token3rsdfjdf2393skljfsdlfj9023kjdldjf90elkdsfjdslfj",
          "hub.challenge": "123456"
        },
        "body": {},
        "webhookUrl": "https://my-automation-4j0i.onrender.com/webhook/facebook-webhook",
        "executionMode": "production"
      }
    ],
    "Webhook to recieve messages and comments": [
      {
        "headers": {
          "host": "my-automation-4j0i.onrender.com",
          "user-agent": "Webhooks/1.0 (https://fb.me/webhooks)",
          "content-length": "308",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "173.252.127.16",
          "cf-ipcountry": "US",
          "cf-ray": "9b9d5647be610a45-SIN",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "render-proxy-ttl": "4",
          "rndr-id": "9f2beb93-6764-4134",
          "true-client-ip": "173.252.127.16",
          "x-forwarded-for": "173.252.127.16, 172.71.124.172, 10.16.237.183",
          "x-forwarded-proto": "https",
          "x-hub-signature": "sha1=069f5f4698055fec550b182c6663099e3b9c8012",
          "x-hub-signature-256": "sha256=75108058c09b60d70cceb699437794a1b585e64b2fd0c59a6e87be8139ed069f",
          "x-request-start": "1767724755366620"
        },
        "params": {},
        "query": {},
        "body": {
          "entry": [
            {
              "id": "0",
              "time": 1767724754,
              "changes": [
                {
                  "field": "comments",
                  "value": {
                    "from": {
                      "id": "1189770910038355",
                      "username": "ahmad__mamoon"
                    },
                    "media": {
                      "id": "18097764943672044",
                      "media_product_type": "FEED"
                    },
                    "id": "18068956190387448",
                    "parent_id": "",
                    "text": "@ahmad__mamoon just saw this post totally amazing"
                  }
                }
              ]
            }
          ],
          "object": "instagram"
        },
        "webhookUrl": "https://my-automation-4j0i.onrender.com/webhook/facebook-webhook",
        "executionMode": "production"
      }
    ],
    "Messnger page message body": [
      {
        "headers": {
          "host": "my-automation-4j0i.onrender.com",
          "user-agent": "facebookexternalua",
          "content-length": "324",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "69.63.189.17",
          "cf-ipcountry": "US",
          "cf-ray": "9b8df3b5bf1a6c1d-SIN",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "facebook-api-version": "v24.0",
          "render-proxy-ttl": "4",
          "rndr-id": "982cf0d4-64dd-4039",
          "true-client-ip": "69.63.189.17",
          "x-forwarded-for": "69.63.189.17, 172.71.124.82, 10.17.2.247",
          "x-forwarded-proto": "https",
          "x-hub-signature": "sha1=e888fa8735b08d3eeec65458a3417f00d5aae301",
          "x-hub-signature-256": "sha256=d7cc65015768e1f494c2d1943d6bd38c2705278afd3e178ae7c6f4b13df66e68",
          "x-request-start": "1767563431475062"
        },
        "params": {},
        "query": {},
        "body": {
          "object": "page",
          "entry": [
            {
              "time": 1767563431266,
              "id": "914740581721664",
              "messaging": [
                {
                  "sender": {
                    "id": "25672083659147013"
                  },
                  "recipient": {
                    "id": "914740581721664"
                  },
                  "timestamp": 1767563429027,
                  "message": {
                    "mid": "m_Pounxu18EGJPVevRmlLl7NKKBvS3KCA5HQLzV_rhob6r8S3Y19oe0ZyeR1F6_1kLJQICT1LXlRKOJT8MejGi1Q",
                    "text": "hello testing 123"
                  }
                }
              ]
            }
          ]
        },
        "webhookUrl": "https://my-automation-4j0i.onrender.com/webhook/facebook-webhook",
        "executionMode": "production"
      }
    ],
    "Instagram commets api": [
      {
        "headers": {
          "host": "my-automation-4j0i.onrender.com",
          "user-agent": "Webhooks/1.0 (https://fb.me/webhooks)",
          "content-length": "308",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "173.252.127.16",
          "cf-ipcountry": "US",
          "cf-ray": "9b9d5647be610a45-SIN",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "render-proxy-ttl": "4",
          "rndr-id": "9f2beb93-6764-4134",
          "true-client-ip": "173.252.127.16",
          "x-forwarded-for": "173.252.127.16, 172.71.124.172, 10.16.237.183",
          "x-forwarded-proto": "https",
          "x-hub-signature": "sha1=069f5f4698055fec550b182c6663099e3b9c8012",
          "x-hub-signature-256": "sha256=75108058c09b60d70cceb699437794a1b585e64b2fd0c59a6e87be8139ed069f",
          "x-request-start": "1767724755366620"
        },
        "params": {},
        "query": {},
        "body": {
          "entry": [
            {
              "id": "0",
              "time": 1767724754,
              "changes": [
                {
                  "field": "comments",
                  "value": {
                    "from": {
                      "id": "1189770910038355",
                      "username": "ahmad__mamoon"
                    },
                    "media": {
                      "id": "18097764943672044",
                      "media_product_type": "FEED"
                    },
                    "id": "18031216505567496",
                    "parent_id": null,
                    "text": "hi testing"
                  }
                }
              ]
            }
          ],
          "object": "instagram"
        },
        "webhookUrl": "https://my-automation-4j0i.onrender.com/webhook/facebook-webhook",
        "executionMode": "production"
      }
    ],
    "Instagram Messages": [
      {
        "headers": {
          "host": "my-automation-4j0i.onrender.com",
          "user-agent": "Webhooks/1.0 (https://fb.me/webhooks)",
          "content-length": "255",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "173.252.127.6",
          "cf-ipcountry": "US",
          "cf-ray": "9b9d6530485b8832-SIN",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "render-proxy-ttl": "4",
          "rndr-id": "959eceb0-df8d-4586",
          "true-client-ip": "173.252.127.6",
          "x-forwarded-for": "173.252.127.6, 172.71.124.96, 10.17.6.49",
          "x-forwarded-proto": "https",
          "x-hub-signature": "sha1=5fc83dd4778268747a07c73e276c03087f7946f1",
          "x-hub-signature-256": "sha256=114d0a354b3b09ccb886420efdf1a1aaa3563f7856f50942b4dcb059a9d58c1e",
          "x-request-start": "1767725365996615"
        },
        "params": {},
        "query": {},
        "body": {
          "entry": [
            {
              "id": "0",
              "time": 1767725365,
              "changes": [
                {
                  "field": "messages",
                  "value": {
                    "sender": {
                      "id": "1189770910038355"
                    },
                    "recipient": {
                      "id": "23245"
                    },
                    "timestamp": "1527459824",
                    "message": {
                      "mid": "random_mid",
                      "text": "random_text"
                    }
                  }
                }
              ]
            }
          ],
          "object": "instagram"
        },
        "webhookUrl": "https://my-automation-4j0i.onrender.com/webhook/facebook-webhook",
        "executionMode": "production"
      }
    ],
    "AI Agent": [
      {
        "output": {
          "reply": "Hey there! How can I help you today?"
        }
      }
    ],
    "Fetch conversation": [
      {
        "data": [
          {
            "id": "aWdfZAG06MTpJR01lc3NhZA2VUaHJlYWQ6MTc4NDE0Nzg3MDkyNTYxNTY6MzQwMjgyMzY2ODQxNzEwMzAxMjQ0Mjc2MDIxNjYzMTc4NzEwNjE4",
            "updated_time": "2026-01-06T20:10:42+0000"
          }
        ]
      }
    ],
    "Get recent converstaion": [
      {
        "data": [
          {
            "message": "Hi user nice to meet you",
            "from": {
              "username": "ahmad__mamoon",
              "id": "1189770910038355"
            },
            "created_time": "2026-01-06T20:10:42+0000",
            "id": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc4NzA5MjU2MTU2OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAyMTY2MzE3ODcxMDYxODozMjYwODg2NzM4MTc1OTc4MzM1NzI2MzU4MTUyMTM3OTMyOAZDZD"
          },
          {
            "message": "hello user",
            "from": {
              "username": "ahmaddevautomation",
              "id": "17841478709256156"
            },
            "created_time": "2026-01-06T19:16:58+0000",
            "id": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc4NzA5MjU2MTU2OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAyMTY2MzE3ODcxMDYxODozMjYwODgwNzkwMzQyMzQyMDg5OTc2MDYxOTk0MjU3NjEyOAZDZD"
          },
          {
            "message": "Hi ahmad",
            "from": {
              "username": "ahmad__mamoon",
              "id": "1189770910038355"
            },
            "created_time": "2026-01-03T19:25:23+0000",
            "id": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc4NzA5MjU2MTU2OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAyMTY2MzE3ODcxMDYxODozMjYwNDAzNTgyMzM1Mzg5MDE2NDcwNjE1Nzk0NjQ3MDQwMAZDZD"
          },
          {
            "message": "Hi",
            "from": {
              "username": "ahmad__mamoon",
              "id": "1189770910038355"
            },
            "created_time": "2025-12-23T21:12:55+0000",
            "id": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc4NzA5MjU2MTU2OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAyMTY2MzE3ODcxMDYxODozMjU4NjYyMzA1MDA2MjU5NDgwMTYxMzM4ODIzOTYwMTY2NAZDZD"
          }
        ]
      }
    ],
    "Instagram Dm replies": [
      {
        "recipient_id": "1189770910038355",
        "message_id": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc4NzA5MjU2MTU2OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAyMTY2MzE3ODcxMDYxODozMjYwODg2ODUyMTY1MzIwMTE3NTA3Njg5MTg1NDM3Mjg2NAZDZD"
      }
    ],
    "Instagram Comments replies": [
      {
        "id": "18037802876738222"
      }
    ],
    "Message a model": [
      {
        "index": 0,
        "message": {
          "role": "assistant",
          "content": "{\"reply\": \"Thanks a lot! Glad you liked it! 😊\"}",
          "refusal": null,
          "annotations": []
        },
        "logprobs": null,
        "finish_reason": "stop"
      }
    ],
    "Summerize all data": [
      {
        "user": "ahmad__mamoon",
        "comment": "@ahmad__mamoon just saw this post totally amazing",
        "commentId": "18068956190387448",
        "userId": "1189770910038355",
        "mediaId": "18097764943672044",
        "parentId": null,
        "hasParent": false,
        "parent": null
      }
    ],
    "Fields to pass to ai": [
      {
        "prompt": "Comment from ahmad__mamoon: \"@ahmad__mamoon just saw this post totally amazing\"\nGenerate a short, friendly reply in 1-2 sentences:"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5fb562ea0f9026abe7e8f315ec46894e8801411ce3db851fdbe45168e485acda"
  }
}